body {background-color: #113639;}

.d-block {border-radius: 15%;}

.text-body-emphasis {color: #2462FF;}

p {color: #000;}

.lead {font-weight: 500;}

.contact {background-color: #fff;}
.contact .card {border-radius: 15px;}
.contact .card-body {padding: 2rem;}
.contact .card-title {font-size: 1.5rem; font-weight: 500;}
.contact .card-text {font-size: 1rem; font-weight: 400;}
